<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <!-- <script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com"> -->

    <style>
        body {
            text-align: right;
            margin: 0;
            padding: 0;
        }

        a {
            text-decoration: underline;
            color: #802AB6;
        }
        .text{
            margin:10px; 
            text-align: left;
        }
        input[type="email"]{
            width: 99%;
            height: 30px;
            border-radius: 10px;
            background-color: #EBEDFF;
        }
        input[type="submit"]{
            width: 99%;
            height: 50px;
            border-radius: 30px;
            background-color: #553CEE;
        }
        .text-lien{
            text-align: center;
            margin: 20px;
        }
        .trait{
            margin: 20px;
        }
        
    </style>
    <title>Votre Titre</title>
</head>
<body>
    <a href="">Donnez votre avis</a>
    <div>
        <h2 style="text-align: center;">Logo</h2>
    </div>
    <div class="text">
        <h3 >Bonjour <br>
        Se connecter en tant que vendeur à Logo ou <a href="/inscriptionvendeur">créer un compte </a></h3>
    </div>
    <div>
        <form action="/">
            <input type="email" id="email" name="email" placeholder="Entrez vôtre email"><br><br>
            <input type="submit" value="Continuer">
        
        <div style="display: flex;">
            <hr style="margin: 50px; width: 40%;">
            <h4 style="text-align: center;">ou</h4>
            <hr style="margin: 50px; width: 40%;"><br>
        </div>
        <input type="submit" value="Continuer avec facebook" style="background-color: #4836B4;"><br><br>
        <input type="submit" value="Continuer avec google" style="background-color: #fff;"><br><br>
        <input type="submit" value="Continuer avec apple" style="background-color: #fff;">
    </div>
</form> 
<div class="text-lien">
    <a href="/interfvendeur" >En savoir plus</a>
</div>
   <div class="trait">
    <hr>
   </div>
</body>
</html>
