<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emplois</title>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        header {
            background-color: #f8f8f8;
            padding: 10px;
        }

        ul {
            list-style-type: none;
            display: flex;
            margin: 0;
            padding: 0;
        }

        li {
            margin-right: 20px; /* Ajustez cette valeur pour définir l'espacement entre les icônes */
        }

        h1 {
            margin: 0;
        }

        /* Ajustez la marge à gauche pour déplacer les icônes vers la droite */
        li:first-child {
            margin-right: auto;
            margin-left: 20px;
        }
        form {
            display: flex;
            align-items: center;
            border: 1px solid #ccc;
            width: 95%;
            padding: 5px;
            border-radius: 5px;
        }

        input[type="text"] {
            padding: 5px;
            /* border: none; */
            border: 1px solid #000;
            width: 95%;
            border-radius: 3px;

        }
        .search-icon {
            margin-left: auto;
            margin-right: 0px; /* Ajustez cette valeur pour définir l'espacement entre la barre de recherche et l'icône */
            /* color: blue; */
        }
        .card{
            border: 1px solid gray;
            width: 85%;
            margin-left: 80px;
            height: auto;
            /* display: flex; */
            margin-top: 25px;
        }
        hr{
            width: 97%;
        }
        .card-gallery{
            border: 1px solid gray;
            width: 85%;
            margin-left: 80px;
            height: 150px;
            display: flex;
            margin-top: 25px;
        }
        .photo{
            border: 1px solid #ccc;
            width: 100px;
            height: 100px;
            margin-left: 50px;
            margin-top: 25px;
            background-color: #ccc;
        }
        .offre{
            border: 1px solid gray;
            width: 80%;
            height: 100px;
            margin-left: 20px;
            margin-top: 25px;
        }
        .text{
            /* border: 1px solid #ccc;
            width: 100px;
            height: 100px; */
            margin-left: 50px;
            margin-top: 25px;
            /* background-color: #ccc; */
        }
        </style>
</head>
<body>
    <body>
        <header>
            <ul>
                <li><a href="#" >
                    <h1>Logo</h1></a>
                </li>
                <li><a href="/connexion">
                    <iconify-icon icon="mingcute:user-4-fill" style="color: black;" width="50" height="30"></iconify-icon>
                </a></li>
                <li><a href="/panier">
                    <iconify-icon icon="lets-icons:basket-alt-3" style="color: black;" width="50" height="30"></iconify-icon>
                </a></li>
                <li><a href="#">
                    <iconify-icon icon="pajamas:hamburger" style="color: black;" width="50" height="30"></iconify-icon>
                </a></li>
            </ul>
        </header>
        <div class="gallery">
            <!-- <a href=""> -->
            <div class="card-gallery">
                <div class="photo">

                </div>
                <!-- <div class="offre"></div> -->
            </div>
        <!-- </a> -->
        </div> <br>
        <div class="card">
            <div class="text">
                <h2>Description du post</h2>
                <p>jfvjcsdbcsdfjncsdfcjsenn dcdsjcdjsfsefc bdfcejhsgfcsddc eferfjcb cneefhscn drsfnceyusjdcerjndzejq,d,sfiezuslidkxnsdnwdujhsdsqdxs <br>
                <p>jfvjcsdbcsdfjncsdfcjsenn dcdsjcdjsfsefc bdfcejhsgfcsddc eferfjcb cneefhscn drsfnceyusjdcerjndzejq,d,sfiezuslidkxnsdnwdujhsdsqdxs <br>
                <p>jfvjcsdbcsdfjncsdfcjsenn dcdsjcdjsfsefc bdfcejhsgfcsddc eferfjcb cneefhscn drsfnceyusjdcerjndzejq,d,sfiezuslidkxnsdnwdujhsdsqdxs</p> <br>

                <h2>Profil du poste</h2>
                <p>jfvjcsdbcsdfjncsdfcjsenn dcdsjcdjsfsefc bdfcejhsgfcsddc eferfjcb cneefhscn drsfnceyusjdcerjndzejq,d,sfiezuslidkxnsdnwdujhsdsqdxs <br>
                <p>jfvjcsdbcsdfjncsdfcjsenn dcdsjcdjsfsefc bdfcejhsgfcsddc eferfjcb cneefhscn drsfnceyusjdcerjndzejq,d,sfiezuslidkxnsdnwdujhsdsqdxs <br>
                <p>jfvjcsdbcsdfjncsdfcjsenn dcdsjcdjsfsefc bdfcejhsgfcsddc eferfjcb cneefhscn drsfnceyusjdcerjndzejq,d,sfiezuslidkxnsdnwdujhsdsqdxs</p> <br>
                
                <h2>Dossier de candidature</h2>
                <p>jfvjcsdbcsdfjncsdfcjsenn dcdsjcdjsfsefc bdfcejhsgfcsddc eferfjcb cneefhscn drsfnceyusjdcerjndzejq,d,sfiezuslidkxnsdnwdujhsdsqdxs <br>
                <p>jfvjcsdbcsdfjncsdfcjsenn dcdsjcdjsfsefc bdfcejhsgfcsddc eferfjcb cneefhscn drsfnceyusjdcerjndzejq,d,sfiezuslidkxnsdnwdujhsdsqdxs <br>
                <p>jfvjcsdbcsdfjncsdfcjsenn dcdsjcdjsfsefc bdfcejhsgfcsddc eferfjcb cneefhscn drsfnceyusjdcerjndzejq,d,sfiezuslidkxnsdnwdujhsdsqdxs</p> <br>

                


            </div>
        </div>

        </body>
        </html>