<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        header {
            background-color: #f8f8f8;
            padding: 10px;
        }

        ul {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            padding: 0;
        }

        li {
            margin-right: 20px; /* Ajustez cette valeur pour définir l'espacement entre les icônes */
        }

        .paragraphe {
            text-align: left; /* Alignez le paragraphe à gauche */
            margin: 20px; /* Ajoutez un espacement au paragraphe si nécessaire */
        }

        .gallery-container {
            display: flex;
            justify-content: space-between;
            margin: 20px;
        }

        .gallery {
            border: 1px solid #ccc;
            border-radius: 50%;
            width: 70px;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .gallery:hover {
            border: 1px solid #777;
        }

        .gallery-icon {
            color: blue;
        }
        input[type="text"]{
            height: 50px;
            border-radius: 20px;
            background-color: #EBEDFF;
        }
        input[type="email"]{
            width: 99%;
            height: 50px;
            border-radius: 10px;
            background-color: #EBEDFF;
        }
        input[type="password"]{
            width: 99%;
            height: 50px;
            border-radius: 10px;
            background-color: #EBEDFF;
        }
        input[type="submit"]{
            width: 99%;
            height: 50px;
            border-radius: 30px;
            background-color: #251455;
            color: white;
        }
    </style>
</head>
<body>
    <header>
        <ul>
            <li><a href="#">
                <h1>Logo</h1></a>
            </li>
            <li><a href="/connexionmail">
                <h3>Se connecter</h3>
            </a></li>
        </ul>
    </header>
    <p class="paragraphe">
        <h3>Créer un compte</h3>
        <h3>Vous êtes un vendeur ?</h3>
        <h3><a href="/inscriptionvendeur">Créer un compte pour vendeur</a></h3>
    </p>
    <p>Continuer avec:</p>
    <form action="/inscription" method="POST">
    <section class="gallery-container">
        
        <div class="gallery">
            <div class="gallery-icon">
                <a href="/auth/google"><iconify-icon icon="devicon:google" width="40" height="40"></iconify-icon></a>
            </div>
        </div>

        <div class="gallery">
            <div class="gallery-icon">
                <iconify-icon icon="logos:facebook" width="40" height="40"></iconify-icon>
            </div>
        </div>

        <div class="gallery">
            <div class="gallery-icon">
                <iconify-icon icon="devicon:apple" width="40" height="40"></iconify-icon>
            </div>
        </div>
    </section>
    <div style="display: flex;">
        <hr style="margin: 50px; width: 40%;">
        <h4 style="text-align: center;">ou</h4>
        <hr style="margin: 50px; width: 40%;"><br>
    </div>

    <div style="display: flex; justify-content: space-between;margin: 20px;">
        <input type="text" id="prenom" name="prenom" placeholder="Entrez vôtre prénom">
        <input type="text" id="nom" name="nom" placeholder="Entrez vôtre nom">
    </div>
    
    <input type="email" id="email" name="email" placeholder="Entrez vôtre email"><br><br>
    <input type="password" id="password" name="password" placeholder="Entrez vôtre mot de passe"><br><br> 
    <input type="submit" name="submit" value="s'inscrire">
        
</form>
</body>
</html>
